
:root {
    --background:#323437;
    --dark: #2D2F31;
    --white: #ede8e8;
    --titleColor: #ffdc7a
}
.nav-bar{
    display:flex;
    justify-content:space-around;
    width:20%;
    left:70%;
    position: relative;
    top:20px;
}
.info-icon{
    color:var(--white);
    min-height: 2.4vh;
}
.settings-icon{
    color:var(--white);
    min-width: 3vh;
    min-height: 2.5vh;
}
.addUser-icon{
    color:var(--white);
    min-width: 4vh;
    min-height: 2.3vh;
}
.login-icon{
    color:var(--white);
    min-width: 4vh;
    min-height: 3.6vh;
    position: relative;
    left:-10px
}
.settings-icon:hover{
    color:var(--titleColor);
}
.addUser-icon:hover{
    color:var(--titleColor);
}
.info-icon:hover{
    color:var(--titleColor);
}
@media screen and (max-width:1300px){
    .nav-bar{
        position: relative;
        left:68%;
    }
}
@media screen and (max-width:1220px){
    .nav-bar{
        position: relative;
        left:28%;
        top:-30px;
    }
}
@media screen and (max-width:767px){
    .nav-bar{
        position: relative;
        left:65%;
        top:7%;
    }
}
@media screen and (max-width: 630px) {
    .nav-bar{
        position: relative;
        transform: rotate(0deg);
        display:flex;
        left:25%;
        top:-13%;
    }
}

