/* background */
.popup{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 150%;
    background-color: var(--dark);
    margin-top:2px;
    display:flex;
    flex:auto;
    justify-content:center;
    align-items:center;
}
/* main popup */
.popup-inner{
    border-top:2px solid var(--white);
    border-right:2px solid var(--white);
    border-left:2px solid var(--white);
    border-bottom:2px solid var(--white);
    height:95%;
    position:relative;
    width:70%;
    background-color: var(--dark);
    
}
.stats{
    position:absolute;
    top:50px;
} 
/* restart text button */
.popup-inner .restart{
    color:var(--titleColor);
    min-width:18px;
    min-height:18px;
    position:absolute;
    top:23px;
    right:20px;
}
/* new text button */
.popup-inner .next{
    color:var(--titleColor);
    min-width:25px;
    min-height:25px;
    position:absolute;
    top:20px;
    right:80px;
}

.restart:hover{
    border-bottom: 2px solid white;
}
.next:hover{
    border-bottom: 2px solid white;
}
.popup-title{
    position:absolute;
    color:var(--white);
    font-size:180%;
    border-bottom: 1px solid;
    left:6.7%;
    top:2px;
    margin-top:10px;
}

.row-display{
    position:absolute;
    left:5%;
    padding-right:0;
    margin-top:20px;

}
/* labels */
.label-popup{
    text-align: center;
    background-color:var(--white);
    border-color: var(--white);
    color: var(--black);
    font-family: "Roboto Mono",sans-serif;
    font-weight:400;
    border-radius:10px;
    font-size:24px;
    padding: 0px 50px 0px 50px;
    margin-bottom: 10px;
}
/* number stats */
.number{
    color:var(--titleColor);
    position: relative;
    top:8px;
    margin-bottom: 30px;
}
/* phone */
@media screen and (max-width:810px){
    .label-popup{
        font-size:20px;
        padding: 3px 10px 3px 10px;
        margin-top:20px;
        margin-right:50px;
    }
    .popup{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height: 200%;
        background-color: var(--background);
        margin-top:2px;
        display:flex;
        flex:auto;
        justify-content:center;
        align-items:center;
    }
    .number{
        font-size: 20px;
        color:var(--titleColor);
    }
}
/* very tiny phone */
@media screen and (max-width:810px) and (max-height:377px){
    .label-popup{
        font-size:10px;
        padding: 2px 8px 2px 8px;
        margin-top:20px;
        margin-right:50px;
    }

}

/* popup goes above view whenever window is shortened (height)   */
@media screen and (min-width:100px) and (max-height:366px){
    .popup-inner{
        margin-top:100px;
        height:100%
    }
    .popup{
        height:270%
    }
}
@media screen and (min-width:1200px) and (max-height:310px){
    .popup-inner{
        margin-top:100px;
    }
}
/* medium screen stats has stats go below border */
@media screen and (min-width:811px) and (max-width:1003px) and (max-height:575px){
    .label-popup{
        padding: 2px 5px 2px 5px;
        font-size:20px
    }
    .number{
        font-size:19px
    }
}

/* mini screen has stats go below border */
@media screen and (max-width:517px) and (max-height:330px){
    .number{
        font-size: 10px;
    }
    .popup-inner{
        height:120%;
        top:50px;
    }
}