
/* error */
#danger-container {
    position:fixed; 
    top: 0px; 
    left: 5%; 
    width: 82%;
    z-index:9999; 
    border-radius:0px
}
.alert{
    position: absolute;
    text-align: left;
    justify-content: center;
    left:0%;
    top:0%;
    width:115%
}
/* main options */
.settings-options{
    position: relative;
    text-align: center;
}
/* word count input field */
.wordCount-input{
    position: relative;
    justify-content: center;
    max-width:26%;
    min-width:26%;
}
.audio-label{
    left:20px;
}
.audio-toggle{
    position: relative;
    justify-content: center;
    left:20px;
}
@media screen and (min-width:957px){
    #danger-container{
        position: relative;
        width:65%;
        left:15%;
    }
    .alert{
        top:-107px;
    }
}
@media screen and (max-width:746px){
    .alert{
        top:10px;
        left:5px;
    }
}


/* scale width of word count input */
@media screen and (max-width:1000px){
    .wordCount-input{
        max-width:40%;
        min-width:40%;
    }
}
@media screen and (max-width:600px){
    .wordCount-input{
        max-width:60%;
        min-width:60%;
    }
}