
/* error */
#danger-container {
    position:fixed; 
    top: 0px; 
    left: 25%; 
    width: 50%;
    z-index:9999; 
    border-radius:0px
}
.alert{
    position: absolute;
    text-align: left;
    justify-content: center;
    left:0%;
    top:0%;
    width:115%
}
/* main options */
.settings-options{
    position: relative;
    text-align: center;
}
/* word count input field */
.wordCount-input{
    position: relative;
    max-width:220px;
    left:220px;
}


@media screen and (max-width:950px){
    .wordCount-input{
        position: relative;
        left:10px;
    }
    .wordCount-label{
        text-align: left;
    }
    .englishType-label{
        text-align:left;
        position: static;
    }
    .btnGroup{
        text-align:left;
        position: relative;
        left:-25px;
    }
}